* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eeefed;
    line-height: 300%;
    letter-spacing: 0.2em;
}

h1 {
    text-align: center;
    font-family: Lava kannada;
    margin-top: 50px;
}

#nav {
    list-style: none;
    overflow: hidden;
    margin-top: 45px;
}

#nav li {
    width: 150px;
    text-align: center;
    float: left;
}

#nav li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-family: Lava kannada;
}

.header1 {
    display: flex;
}




.imgbox {
    display: flex;
    justify-content: flex-end;
}

img {
    width: 300px;
    margin-top: 40px;
}



.textfv {
    margin-top: 400px;
    margin-left: 50px;
    float: left;
    font-size: 28px;
    font-family: YuMincho, serif;

}

.maru1 {
    text-align: right;
    margin-top: 100px;
}



.concept-title {
    font-size: 28px;
    text-align: center;
    font-family: YuMincho, serif;
    color: #958818;

}

.concept-text {
    font-size: 18px;
    text-align: center;
    margin-top: 50px;
    font-family: YuMincho, serif;

}

.title-1 {
    background-image: url(images/image7.png);
    height: 400px;
    font-family: YuMincho, serif;
}

.heading {
    font-size: 40px;
    text-align: center;
    padding-top: 100px;

}

.subheading {
    font-size: 20px;
    text-align: center;
}

.text-box {
    background-image: url(images/image8.png);
    background-position: center;
    width: 1000px;
    margin: auto;
    transform: translateY(-150px);
    padding-bottom: 100px;
    padding-top: 50px;
}

.title {
    font-size: 28px;
    font-family: yumincho;
    color: #557d3c;
    text-align: center;
    margin: 30px;
    letter-spacing: 0.2em;
    font-family: YuMincho, serif;
}

.text {
    font-size: 18px;
    font-family: YuMincho, serif;
    color: #333;
    text-align: center;
    letter-spacing: 0.2em;
    padding: 10 200 10 200;
}

.image6 {
    margin: 80px;
    text-align: center;
}

.nutrients-1 {
    font-size: 16px;
    display: inline-block;
    color: #958818;
}

.nutrients-2 {
    font-size: 14px;
    display: inline-block;
    margin-left: 30px;
    font-family: YuMincho, serif;
}

.nutrients-3 {
    font-size: 24px;
    font-family: YuMincho, serif;
}

.nutrients-4 {
    font-size: 18px;
    font-family: YuMincho, serif;
}

.protein {
    margin: 50px 150px 50px 150px;
}

.lac {
    margin: 50px 150px 50px 150px;
}

.vam {
    margin: 50px 150px 50px 150px;
}

.title-2 {
    background-image: url(images/images9.png);
    height: 400px;
    font-family: YuMincho, serif;
}

.point-1 {
    font-size: 18px;
    color: #557d3c;
    font-family: Lava kannada;
}

.point-2 {
    font-size: 24px;
    color: #333;
    font-family: YuMincho, serif;
}

.point-3 {
    font-size: 18px;
    color: #333;
    font-family: YuMincho, serif;
}

.point2 {
    text-align: right;
}

.title-3 {
    background-image: url(images/image10.png);
    height: 400px;
    font-family: YuMincho, serif;
}

.title-4 {
    background-image: url(images/image11.png);
    height: 400px;
    font-family: YuMincho, serif;
}

.tips-title {
    color: #958818;
    font-size: 20px;
    font-family: YuMincho, serif;
}

.convini {
    display: flex;
    margin-top: 50px;
}

.convini-text {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    display: inline;
    font-family: YuMincho, serif;
}



/*ここまで全てに共通のスタイル＊/

/*ここからスマホ用のスタイル＊/

  @media all and (max-width:480px){


}